body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height:100px;
    width:100px;
    border-top:10px solid red;
    border-left:10px solid green;
    border-right:10px solid blue;
    border-bottom:10px solid yellow;
    border-radius: 50%;
    animation-name: loader;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
}
@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}